Please enter your details.
<%# form_tag "/users" do %>
  <%# label_tag "Username" %>
  <%# text_field(:user, :username) %>
  <%# label_tag "Password" %>
  <%# password_field(:user, :password) %>
  <%# label_tag "Email" %>
  <%# email_field(:user, :email) %>
  <%# button_tag "Submit" %>
<%# end %>
<%= form_with model: @user do |form| %>
  <br>

  <% if @user.errors.any? %>
    <div id="error_summary">
      <h2><%= pluralize(@user.errors.count, "error") %> prevented your details from being saved:</h2>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= label(:user, :username, "Your Username") %><br>
  <%= form.text_field :username %><br>
  <%= label(:user, :password, "Make your password") %><br>
  <%= form.password_field :password %><br>
  <%= label(:user, :email) %><br>
  <%= form.email_field :email, placeholder: "peter.hawes@email.co.uk" %><br>
  <%= form.submit "Submit" %><br>
<% end %>